# Configuración de Bases de Datos
MYSQL_ROOT_PASSWORD=tu_clave_segura   # Clave maestra para MySQL (Microservicio Principal)
DB_DATABASE=ecommerce_db               # Nombre de la base de datos de pedidos
POSTGRES_PASSWORD=tu_clave_segura    # Clave para PostgreSQL (Microservicio Stock)
POSTGRES_DB=stock_db                 # Nombre de la base de datos de inventario

# Pasarela de Pagos (Stripe)
API_KEY=pk_test_...                  # Tu Public Key de Stripe
STRIPE_SECRET_KEY=sk_test_...        # Tu Secret Key de Stripe (¡No la compartas!)

# Redirección de Frontend
URL_FRONT_PAGO=http://localhost:5173 # URL donde React espera al usuario tras el pago